* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.home-title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;

	color: #FFFFFF !important;
}

.p-title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;

	color: #FFFFFF !important;
}
