.homebanner {
/*  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59));*/
  background: #526D82 !important;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;

	color: #FFFFFF !important;
}

.title-p {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	color: #FFFFFF !important;
}
